# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Custom for Visual Studio Code settings
*.code-workspace text eol=lf

# Custom for Windows batch files
*.bat text eol=crlf

# Custom for Linux shell scripts
*.sh text eol=lf

# Normalize all text files to LF line endings on checkin.
# Convert to CRLF on checkout on Windows.
*.java text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.zip binary
*.gz binary
*.jar binary
