# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


.idea
.vscode
.dart_tool
build



# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
macos/Pods/
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/flutter/ephemeral/
web/Flutter/ephemeral/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
*.swp
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/

# IDEs and editors
.vscode/
.history/
.idea/
*.iml
*.sublime-workspace

# Dependency directories
.packages
.pub/
